#tableCheckOut{
    display: flex;
    justify-content: center;
    align-items: center;
}

#tableCheckOut tr td{
    text-align: center;
    color: black;
}

#tableCheckOut tr td a{
    text-decoration: none;
    color: black;
}
#imageCheckOut{
    width: 100%;
    height: 100px;
}

.descriptionformpage{
    border-radius: 15px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
}

.descriptionformpage form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn,#delete a{
    font-size: 15px;
    font-weight: bold;
    outline: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 50%;
    transition: .2s;
    background: white;
    border: 2px solid white;
    color: black;
}

.btn:hover,#delete a:hover{
    background: white;
    border: 2px solid gray;
    color: gray;
}

#delete{
    padding-left: 50px;
}

#actions{
    padding-left: 50px;
}


#items{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: #333;
    position: relative;
}

#totalPrice{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

tbody{
    border-radius: 10px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

tr:first-child td{
    font-weight: bold;
}

tr:last-child{
    border-top: 5px solid #72abee;
    padding: 10px;
}

/* .contentCheckOut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    text-align: center;
    width: 700px;
} */

/* .topContent h4{
    padding-left: 20px;
} */
/* 
#left1{
    padding-left: 0px;
}

#left2{
    padding-left: 8px;
}

#left3{
    padding-left: 0px;
}
#left4{
    padding-right: 10px;
}

#left5{
    padding-left: 0px;
}

#left6{
    padding-left: 0px;
} */

/* .content{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 700px;
} */

.process{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.checkquantityandprice{
    width: 300px;
    height: 300px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-quantity{
    border-bottom: 5px solid whitesmoke;
    padding:  0 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-price{
    border-bottom: 5px solid whitesmoke;
    padding:  0 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

#formcheckout{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 300px;
    height: 300px;
}

#checkoutbtn{
    width: 100px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 13px;
    outline: none;
    cursor: pointer;
    background:#72abee;
    color: white;
    transition: all 2s;
}

#checkoutbtn:hover{
    background: green;
    transform: scale(1.2);
}

.noproducts{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

#iconempty{
    width: 150px;
}

#btn_shopnow{
    text-decoration: none;
    padding: 10px 20px;
    background: #72abee;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    transition: all 1s;
    line-height: 2;
    display: inline-block;
    text-align: center;
    width: 250px;
}

#btn_shopnow:hover{
    background: #2c7cd8;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#paragraph{
    color: #888;
    font-size: smaller;
}
