.container-login{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 250px auto;
    max-width: 100%;
}

.container-login .login{
    padding: 50px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(139deg,#03ddffcb 0%,#f7a372 60%);
}

ul{
    text-align: none;
}

ul li{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

input[type="text"],input[type="password"]{
    color: #555;
    font-weight: bold;
    font-size: 17px;
    height: 20px;
    border: none;
    background: none;
    border-bottom: 2px solid #333;
    outline: none;
    padding: 10px;
}

::placeholder{
    color: gray;
    font-size: 12px;
    opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: gray;
    font-size: 12px;
}
   
::-ms-input-placeholder { /* Microsoft Edge */
    color: gray;
    font-size: 12px;
}

#label{
    display: flex;
    flex-direction:row;
    align-items: center;
}

#label-input{
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

a{
    text-decoration: none;
    color: white;
    transition-duration: 0.4s;
}

a:hover{
    color: black;
}

.images img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

button{
    padding: 5px;
    background: linear-gradient(139deg,#03ddffcb 0%,#fb8600 90%);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
}

button:hover{
    padding: 5px 10px;
}

h1{
    font-size: 23px;
    color: white;
}


label{
    color: white;
} 
#desc{
    color: #333;
    font-size: 13px;
}

#error{
    color: red;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
